.body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 18%;
}

h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/*Navbar*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

/*Download Buttons*/

.download-button {
    margin: 5% 10% 5% 0;
}

/*Title Image*/

#title {
    padding-bottom: 5%;
}

.title-img-col {
    position: relative;
}

.rotated {
    width: 60%;
    position: absolute;
    transform: rotate(25deg);
    right: 30%;
}

/*Features*/

#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.fas-icon {
    color: #ef8172;
}

.fas-icon:hover {
    color: #ff4c68;
}

.feature-content {
    color: #8f8f8f;
}

/*testimonials*/

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

.carousel-item {
    padding: 5% 20%;
}

/*press*/

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 5%;
}

.press-logo {
    width: 12%;
    margin: 5px 20px;
}

/*Pricing*/

#pricing {
    padding: 5% 0;
    text-align: center;
}

.card {
    margin: 5% 3%;
}

/*Footer*/

#cta {
    background-color: #ff4c68;
    color: white;
    padding: 8% 30%;
    text-align: center;
}

.cta-heading {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
}

.btn-col {
    text-align: center;
}

.cta-button {
    margin: 5%;
}

#footer {
    padding: 5% 30%;
    text-align: center;
}

.footer-icon {
    margin: 5% 2%;
}

@media (max-width: 1388px) {
    #title {
        text-align: center;
    }

    .rotated {
        position: static;
        transform: rotate(0);
    }
}

